@font-face {
	font-family: "Flaticon 2";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*
Icon Name:         	Sample Flaticon
Icon URI:          	http://flaticon.com
Author:             freepik.com
License:            SIL
*/

.icon-flaticon-icon:before{
	font-family: "Flaticon 2";
	content: "\e000";
	font-style: normal;
}